body {
    background-color: #222222
}

.degreesPane {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    justify-content: space-between;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    column-gap: 3px;
}

.degree {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-family: Consolas, serif;
}

